{% extends 'layout/layout.html.twig' %}

{% block title %}Test formulaire projet
{% endblock %}

{% block body %}
	<div class="container">
		{{ 
			form(
				formulaire, 
				{
					'action': path('test_doctrine_create'),
					'method': 'POST'
				}
			) 
		}}
		</div>
	{% endblock %}
