{% extends "base.html.twig" %}

{% block title %}Créer un article
{% endblock %}

{% block body %}
	<div class="container">
		{{ form( form, { 'action': path('creer_article') } ) }}
		</div>
	{% endblock %}
